APP_NAME=Deep Learning API
APP_VERSION=1.0.0
APP_ENV=development
DEVICE=auto
CV_MODEL_BACKBONE=efficientnet-b4
CV_MODEL_CHECKPOINT=data/models/cv/unet_efficientnetb4_best.pth
CV_NORM_STATS_PATH=data/processed/lgg_mri/norm_stats.json
ASR_MODEL_CHECKPOINT=data/models/asr/ctc_bilstm_best.pth
ASR_VOCAB_PATH=data/models/asr/vocab.json
ASR_IDX2CHAR_PATH=data/models/asr/idx2char.json
ASR_PREPROCESSING_PARAMS_PATH=docs/asr_preprocessing_params.json
